server:
    port: 8080
    # See also https://docs.spring.io/spring-boot/docs/2.7.9/reference/html/application-properties.html#appendix.application-properties.server
    tomcat:
        accept-count: 10
        max-connections: 400
        threads:
            max: 10
            min-spare: 5 # actuator port uses the same configuration

spring:
    application.name: spring-docker-demo

management:
    server:
        port: 8090
    endpoints:
        enabled-by-default: false
        web:
            exposure.include: '*'
            cors:
                allowed-methods: '*'
                allowed-origins: '*'
                allowed-headers: '*'
    endpoint:
        health:
            enabled: true
            probes.enabled: true
            group:
                readiness:
                    include: readinessState,db
                    additional-path: server:/readyz # In order to collect probes from application main port
                    # show-components: always
        prometheus:
            enabled: true
        liquibase:
            enabled: true
        info:
            enabled: true
        threaddump:
            enabled: true
        heapdump:
            enabled: true
    metrics:
        distribution:
            percentiles-histogram:
                "[http.server.requests]": true
    health:
        livenessstate:
            enabled: true
        readinessstate:
            enabled: true
    prometheus:
        metrics:
            export:
                enabled: true
    tracing:
        enabled: true
        sampling:
            probability: 1.0
        # TODO replace
        zipkin.tracing.endpoint: http://localhost:9411/api/v2/spans

springdoc:
    show-actuator: true
    use-management-port: true

logging:
    pattern:
        level: %5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]

---

# TODO remove!
spring:
    sleuth.otel.exporter.otlp.endpoint: http://jaeger:4317
    config.activate.on-profile: docker
