<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!-- use Spring default values -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- appender switch  -->
    <springProperty scope="context" name="logging.appender.name" source="logging.appender.name"
                    defaultValue="consoleJsonAppender"/>

    <springProperty scope="context" name="applicationName" source="spring.application.name"
                    defaultValue="-"/>

    <!-- append and keyValue -->
    <springProperty scope="context" name="includeStructuredArguments"
                    source="logging.arguments.structured"
                    defaultValue="true"/>
    <!-- arguments -->
    <springProperty scope="context" name="includeNonStructuredArguments"
                    source="logging.arguments.non-structured"
                    defaultValue="true"/>

    <!-- simple format -->
    <springProperty scope="context" name="logging.pattern.console" source="logging.pattern.console"
                    defaultValue="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logging.pattern.console}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- json format -->
    <appender name="consoleJsonAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider"/>
            <includeContext>false</includeContext>
            <includeMdc>true</includeMdc>
            <includeStructuredArguments>${includeStructuredArguments}</includeStructuredArguments>
            <includeNonStructuredArguments>${includeNonStructuredArguments}
            </includeNonStructuredArguments>
            <fieldNames>
                <timestamp>@timestamp</timestamp>
                <message>message</message>
                <thread>thread</thread>
                <logger>logger</logger>
                <level>level</level>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
            <customFields>
                {"applicationName":"${applicationName}"}
            </customFields>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- appender setter -->
    <root level="info">
        <appender-ref ref="${logging.appender.name}"/>
    </root>

</configuration>
